

.aboutMeButton, .contactMeButton {
    background-color: rgb(175, 105, 240);
    color: white;
}

.hi {
    font-size: 48px;
}

.profession {
    font-size: 24px;
    opacity: 70%;
}

.name {
    font-size: 96px;
}